.bai6_a table, tr, td{
    width: 25%;
    height: 30px;
    border: 1px solid;
    font-size: 20px;
    margin: auto;    
}
td{
    text-align: center;
    background: #ffffff;
}
.bai6_b table, tr, td{
    border: 1px solid;
    background-color: rgb(247, 202, 79);
    max-width: 220px;
    margin: 0px auto;
    margin-top: 20px;
}
table{
    box-shadow: 0px 0px 20px 2px rgb(165, 152, 152);
}
.bang{
    color:red;
    text-decoration:underline;
}
#bai6_b_1 table, tr, td{
    border: 1px solid;

}
#bai6_b_1{
    margin: auto;
    width: 250px;
    height: 150px;
    box-shadow: 0px 0px 10px 2px rgb(158, 139, 139);
}
.cellpadding{
    box-shadow: none;
    margin-bottom: 10px;
    text-align: center;
}
#bai6_b_2 table, tr, td{
    border: 1px solid black;
    box-shadow: none;
}
#bai6_b_2{
    margin: auto;
    width: 250px;
    height: 180px;
    box-shadow: 0px 0px 20px 5px rgb(204, 187, 187);
}
#bai6_c{
    margin: auto;
    width: 600px;
    height: 235px;
    background-color: rgb(243, 215, 59);
    margin-top: 20px;
    box-shadow: 0px 0px 10px 1px rgb(185, 166, 166);
}
caption{
    white-space: nowrap;
    font-size: 23px;
    color: rgb(224, 24, 181);
    font-weight: bold;
}
#bai6_c table, tr{
    border: 3px solid rgb(202, 27, 158);
    box-shadow: none;
    text-align: center;
    
}
#bai6_c_{
    margin-left: 15px;
  
}

#bai6_c_ td{
    width: 200px;
    height: 20px;
}
.first{
    border: 1px solid rgb(202, 27, 158);
}
#dong1{
    background-color: rgb(245, 102, 209) ;
}

